#mapid { 
	min-height: 500px; 
	width:100%;
	padding-top: 3%;
	margin-top: 2%;
}
#header {
	font-family: 'Creepster', cursive;
	font-size:250%;
	width:100%;
	padding-top:1%;
	margin-right:4%;
}

.iconPop {
    background-repeat: no-repeat;
    background-position: top right;
    background-size: 140px;
}

.checkBoxFilter{
	font-family: 'Creepster', cursive;
	font-size:150%;
	margin-top:2.5%;
}
.box{
	float:left;
}

.chkimg{
	margin-right:0.5%;
	margin-left:0.5%;
}

.movie-text{
}

.movie-text-location{
	font-size:85%;
}
